openapi: 3.0.3
info:
  title: BookHub Publisher API
  description: |
    BookHub's Publisher API enables programmatic management of book inventory on the BookHub marketplace. 
    This API uses path-based versioning (v1, v2) and requires authentication via JWTs.

    ## What's new in v2

    ### New features

    - **Hit count tracking**: The `GET /v2/books/{bookId}` endpoint returns a `hitCount` field showing how many times a book has been viewed.

    ### Breaking changes

    - **Removed title sorting**: The `GET /v2/books` endpoint no longer supports sorting by title. Use `createdDate` sorting instead.
    - **`Idempotency-Key` requirement**: The `POST /v2/books` endpoint requires an `Idempotency-Key` header to prevent duplicate book creation on retries.
    - **Duplicate ISBN rejection**: Duplicate ISBNs are rejected with 409 Conflict. v1 did not enforce ISBN uniqueness..

    ## Versioning

    The API uses URI path versioning:

    - `v1`: Initial stable release (https://api.bookhub.com/api/v1/books)
    - `v2`: Latest version with analytics features (https://api.bookhub.com/api/v2/books)

    ## Rate limiting

    All versions: 150 requests/minute
  version: '2.0.1'
  contact:
    name: BookHub API Support
    email: api-support@bookhub.com
    url: https://docs.bookhub.com

servers:
  - url: https://api.bookhub.com/api/v2
    description: Production server - Version 2
  - url: https://api.bookhub.com/api/v1
    description: Production server - Version 1 (legacy)

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT obtained from the authentication endpoint

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: |
        Unique key (UUID) for request deduplication. Reusing a key within its
        24-hour validity window returns the original response instead of
        creating a duplicate resource. Keys match on the key value only,
        not the request body.
      required: true
      schema:
        type: string
        format: uuid
    RequestId:
      name: X-Request-ID
      in: header
      description: Request tracking identifier
      required: false
      schema:
        type: string
    PublisherId:
      name: X-Publisher-ID
      in: header
      description: Publisher identifier
      required: false
      schema:
        type: string
    PageParam:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        default: 1
        minimum: 1
    LimitParam:
      name: limit
      in: query
      description: Number of items per page
      schema:
        type: integer
        default: 20
        maximum: 100
    StatusParam:
      name: status
      in: query
      description: Filter by book status
      schema:
        type: string
        enum: [PENDING, ACTIVE, INACTIVE]
    SortParam:
      name: sort
      in: query
      description: |
        Sort field (v2 only supports createdDate)

        > **Note**: Title sorting has been removed in v2. Use createdDate instead.
      schema:
        type: string
        enum: [createdDate]
    OrderParam:
      name: order
      in: query
      description: Sort order
      schema:
        type: string
        enum: [asc, desc]
        default: desc

  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    UnauthorizedError:
      description: Unauthorized access
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    RateLimitError:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Maximum requests allowed per minute
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in current window
        X-RateLimit-Reset:
          schema:
            type: integer
            format: unix-timestamp
          description: Unix timestamp when rate limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ConflictError:
      description: A book with this ISBN already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            status: error
            message: "A book with this ISBN already exists"
            errors:
              - field: "isbn"
                error: "DUPLICATE_VALUE"
                description: "ISBN 978-0-1234-5678-9 is already registered to bookId 123e4567-e89b-41d4-a716-426614174000"
  schemas:
    BaseBook:
      type: object
      required:
        - title
        - author
        - description
        - language
        - publisher
        - publishedDate
        - isbn
        - price
        - genres
        - bookFormat
      properties:
        bookId:
          type: string
          description: Unique identifier for the book
          readOnly: true
        title:
          type: string
          maxLength: 255
          description: Book title
        author:
          type: string
          maxLength: 255
          description: Primary author name
        description:
          type: string
          maxLength: 5000
          description: Book description or synopsis
        language:
          type: string
          pattern: '^[a-z]{2}(-[A-Z]{2})?$'
          description: ISO 639-1 language code (e.g., en, en-US)
          example: en-US
        publisher:
          type: string
          maxLength: 255
          description: Publisher name
        publishedDate:
          type: string
          format: date
          description: Original publication date
          example: "2024-01-15"
        isbn:
          type: string
          pattern: '^(?:ISBN(?:-1[03])?:? )?(?=[0-9X]{10}$|(?=(?:[0-9]+[- ]){3})[- 0-9X]{13}$|97[89][0-9]{10}$|(?=(?:[0-9]+[- ]){4})[- 0-9]{17}$)(?:97[89][- ]?)?[0-9]{1,5}[- ]?[0-9]+[- ]?[0-9]+[- ]?[0-9X]$'
          description: ISBN-10 or ISBN-13 identifier. Must be unique across the publisher's catalog. Duplicate ISBNs return   409 Conflict  .
          example: "978-0-1234-5678-9"
        price:
          type: number
          format: decimal
          minimum: 0.01
          description: Base price in USD
          example: 24.99
        status:
          type: string
          enum: [PENDING, ACTIVE, INACTIVE]
          default: PENDING
          description: Current publication status. Always set to PENDING on creation.
          readOnly: true
        coverImages:
          type: array
          items:
            type: string
            format: uri
          minItems: 1
          maxItems: 5
          description: URLs to book cover images
        genres:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 5
          description: Book genres or categories
          example: ["Fiction", "Mystery", "Thriller"]
        bookFormat:
          type: string
          enum: [Paperback, Hardcover, eBook]
          description: Physical or digital format
        createdDate:
          type: string
          format: date-time
          description: When the book was created in the system
          readOnly: true
          example: "2024-12-25T10:30:00Z"
        updatedDate:
          type: string
          format: date-time
          description: When the book was last updated
          readOnly: true
          example: "2024-12-26T15:45:00Z"

    BookWithAnalytics:
      allOf:
        - $ref: '#/components/schemas/BaseBook'
        - type: object
          properties:
            hitCount:
              type: integer
              minimum: 0
              description: |
                Number of times this book has been retrieved by buyers (v2 only).

                The `hitCount` increments each time a buyer retrieves the book via `GET /v2/books/{bookId}`. Requests authenticated with publisher credentials do not increment the count. Use it to track the popularity and performance of books over time. 
              example: 1247
              readOnly: true
    ErrorResponse:
      type: object
      description: |
        Error response returned when an API request fails.
        Note: `validation_context` and `provided_value` use snake_case rather than camelCase — 
        this is a known inconsistency that will be addressed in a future version.
      required:
        - status
        - message
      properties:
        status:
          type: string
          enum: [error]
          description: Status indicator
        message:
          type: string
          description: Human-readable error message
          example: "Validation failed"
        errors:
          type: array
          description: Detailed error information for each failed field
          items:
            type: object
            properties:
              field:
                type: string
                description: Field that caused the error
                example: "isbn"
              error:
                type: string
                description: Error type
                example: "INVALID_FORMAT"
              description:
                type: string
                description: Detailed error explanation
                example: "ISBN must match the pattern for ISBN-10 or ISBN-13"
              validation_context:
                type: object
                description: Additional context about the validation failure
                properties:
                  rule:
                    type: string
                    example: "pattern_match"
                  constraint:
                    type: object
                    example: { "pattern": "^[0-9]{13}$" }
                  provided_value:
                    type: string
                    example: "invalid-isbn"

    Pagination:
      type: object
      required:
        - currentPage
        - totalPages
        - totalItems
        - itemsPerPage
      properties:
        currentPage:
          type: integer
          minimum: 1
          description: Current page number
          example: 1
        totalPages:
          type: integer
          minimum: 0
          description: Total number of pages available
          example: 5
        totalItems:
          type: integer
          minimum: 0
          description: Total number of items across all pages
          example: 87
        itemsPerPage:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of items per page
          example: 20

paths:
  /books:
    description: Endpoints for creating and managing books in the BookHub catalog.
    post:
      summary: Create a new book
      description: |
        Creates a new book with PENDING status. The book will not be visible to customers
        until it is finalized using the finalize endpoint.

        ## Workflow

        1. Create book with PENDING status
        2. Review and verify book details
        3. Finalize book to make it ACTIVE
      operationId: createBook
      tags:
        - Books
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/PublisherId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseBook'
            example:
              title: "The Great Adventure"
              author: "Jane Smith"
              description: "An epic tale of courage and discovery"
              language: "en-US"
              publisher: "Adventure Books Inc"
              publishedDate: "2024-03-15"
              isbn: "978-0-1234-5678-9"
              price: 24.99
              coverImages:
                - "https://covers.bookhub.com/great-adventure-front.jpg"
                - "https://covers.bookhub.com/great-adventure-back.jpg"
              genres:
                - "Fiction"
                - "Adventure"
              bookFormat: "Hardcover"
      responses:
        '200':
          description: |
            Idempotent replay. A request with a previously used `Idempotency-Key`
            (within its 24-hour validity window) returns the existing book instead
            of creating a duplicate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                    example: "Book created successfully"
                  data:
                    $ref: '#/components/schemas/BaseBook'
        '201':
          description: Book created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the newly created book
              example: "/v2/books/123e4567-e89b-41d4-a716-426614174000"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                    example: "Book created successfully"
                  data:
                    $ref: '#/components/schemas/BaseBook'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/RateLimitError'

    get:
      summary: Get all books
      description: |
        Retrieves a paginated list of books for the authenticated publisher.
        
        ## v2 changes

        - **(breaking change)**: Title sorting has been removed. Use `createdDate` for sorting instead.
        - The `sort` parameter now only accepts `createdDate`
        
        ## Migration guide

        If you were using `sort=title`:

        - Replace with `sort=createdDate` (recommended)
        - Implement client-side sorting if title ordering is required
      operationId: getAllBooks
      tags:
        - Books
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StatusParam'
        - $ref: '#/components/parameters/SortParam'
        - $ref: '#/components/parameters/OrderParam'
      responses:
        '200':
          description: Successfully retrieved books
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of books matching the filters
            Link:
              schema:
                type: string
              description: Pagination links (first, prev, next, last)
              example: '<https://api.bookhub.com/api/v2/books?page=2>; rel="next"'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    type: object
                    properties:
                      books:
                        type: array
                        items:
                          $ref: '#/components/schemas/BaseBook'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
              example:
                status: "success"
                data:
                  books:
                    - bookId: "123e4567-e89b-41d4-a716-426614174000"
                      title: "The Great Adventure"
                      author: "Jane Smith"
                      description: "A thrilling adventure story set in the mountains of Peru."
                      status: "ACTIVE"
                      price: 24.99
                      createdDate: "2024-12-25T10:30:00Z"
                  pagination:
                    currentPage: 1
                    totalPages: 5
                    totalItems: 87
                    itemsPerPage: 20
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /books/{bookId}:
    description: Endpoint for retrieving or managing a specific book.
    get:
      summary: Get a specific book
      description: |
        Retrieves detailed information about a specific book.
        
        ## v2 changes

        - **(new)**: Returns `hitCount` field.
        - The `hitCount` increments each time a buyer retrieves the book via `GET /v2/books/{bookId}`. Requests authenticated with publisher credentials do not increment the count.
      operationId: getBook
      tags:
        - Books
      parameters:
        - name: bookId
          in: path
          required: true
          description: Unique identifier of the book
          schema:
            type: string
          example: "123e4567-e89b-41d4-a716-426614174000"
      responses:
        '200':
          description: Successfully retrieved book
          headers:
            ETag:
              schema:
                type: string
              description: Entity tag for caching
              example: '"33a64df551425fcc55e4d42a148795d9f25f89d4"'
            Cache-Control:
              schema:
                type: string
              description: Cache directives
              example: "max-age=3600, must-revalidate"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    $ref: '#/components/schemas/BookWithAnalytics'
              example:
                status: "success"
                data:
                  bookId: "123e4567-e89b-41d4-a716-426614174000"
                  title: "The Great Adventure"
                  author: "Jane Smith"
                  description: "An epic tale of courage and discovery"
                  language: "en-US"
                  publisher: "Adventure Books Inc"
                  publishedDate: "2024-03-15"
                  isbn: "978-0-1234-5678-9"
                  price: 24.99
                  status: "ACTIVE"
                  coverImages:
                    - "https://covers.bookhub.com/great-adventure-front.jpg"
                  genres:
                    - "Fiction"
                    - "Adventure"
                  bookFormat: "Hardcover"
                  createdDate: "2024-12-25T10:30:00Z"
                  updatedDate: "2024-12-26T15:45:00Z"
                  hitCount: 1247
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'
    delete:
      summary: Delete a book
      description: |
        Permanently deletes a book from the BookHub marketplace.

        ## Important notes

        - Only `INACTIVE` books can be deleted
        - This operation cannot be undone
        - Active books must be deactivated before deletion
      operationId: deleteBook
      tags:
        - Books
      parameters:
        - name: bookId
          in: path
          required: true
          description: Unique identifier of the book to delete
          schema:
            type: string
          example: "123e4567-e89b-41d4-a716-426614174000"
        - $ref: '#/components/parameters/RequestId'
      responses:
        '204':
          description: Book deleted successfully. No content returned.
        '400':
          description: Bad request (e.g., book is not INACTIVE)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Cannot delete book"
                errors:
                  - field: "status"
                    error: "INVALID_STATUS_TRANSITION"
                    description: "Book must be INACTIVE to delete. Current status: ACTIVE"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /books/{bookId}/finalize:
    description: Endpoint for making a book visible to customers.
    patch:
      summary: Finalize a book
      description: |
        Changes a book's status from PENDING to ACTIVE, making it visible to customers.

        ## Important notes

        - Only `PENDING` books can be finalized
        - This operation is idempotent
        - The book becomes immediately available to customers

        ## Request body
        
        The request body is optional. If omitted, the book is finalized without notes.
      operationId: finalizeBook
      tags:
        - Books
      parameters:
        - name: bookId
          in: path
          required: true
          description: Unique identifier of the book to finalize
          schema:
            type: string
          example: "123e4567-e89b-41d4-a716-426614174000"
      requestBody:
        required: false
        description: Optional finalization metadata
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  maxLength: 1000
                  description: Internal notes about the finalization
                  example: "Reviewed and approved by editorial team"
            example:
              notes: "Reviewed and approved by editorial team"
      responses:
        '200':
          description: Book successfully finalized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                    example: "Book finalized successfully"
                  data:
                    type: object
                    properties:
                      bookId:
                        type: string
                      title:
                        type: string
                      status:
                        type: string
                        enum: [ACTIVE]
                      updatedDate:
                        type: string
                        format: date-time
              example:
                status: "success"
                message: "Book finalized successfully"
                data:
                  bookId: "123e4567-e89b-41d4-a716-426614174000"
                  title: "The Great Adventure"
                  status: "ACTIVE"
                  updatedDate: "2024-12-27T09:15:00Z"
        '400':
          description: Bad request (e.g., book is not in PENDING status)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                status: "error"
                message: "Cannot finalize book"
                errors:
                  - field: "status"
                    error: "INVALID_STATUS_TRANSITION"
                    description: "Book must be in PENDING status to finalize. Current status: ACTIVE"
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
          
tags:
  - name: Books
    description: Operations for managing book catalog
